.login-page {
  display: flex;
  align-items: center;
  height: 100%;
}
.login-page .left {
  flex: 1;
  background: #1C1A19;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-page .right {
  flex: 3;
  height: 100%;
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page .form__wrapper {
  box-sizing: content-box;
  width: 355px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 56px 112px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .login-page {
    flex-direction: column;
    background: #1C1A19;
    width: 100%;
    padding-top: 10px;
  }
  .login-page .left {
    height: auto;
    flex: 0;
  }
  .left img {
    width: 100px;
  }
  .login-page .right {
    flex: 1;
    height: auto;
  }
  .login-page .form__wrapper {
    width: 320px;
    padding: 20px 0;
    border-radius: 0;
  }
}