.header__link {
  color: #ffffff;
  font-size: 21px;
  cursor: pointer;
}

.header__link.header__link--active,
.header__link:hover {
  color: #FDBF5A;
  text-decoration: none;
}
.header__topline {
  justify-content: space-between;
}

@media screen and (max-width: 320px) { 
  .header__link {
    display: none;
  }
  .header__topline {
    justify-content: center;
  }
  .header .header__topline {
    justify-content: center;
  }
}