.header__link {
  color: #ffffff;
  font-size: 21px;
  cursor: pointer;
}

.header__link.header__link--active,
.header__link:hover {
  color: #FDBF5A;
  text-decoration: none;
}

.menu__link {
  color: #000
}
.menu__link.menu__link--active,
.menu__link:hover {
  color: #FDBF5A;
  text-decoration: none;
}