.profile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .2);
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
}
.profile__text {
  font-size: 18px;
  color: gray
}

.profile button {
  margin-top: 30px;
}

.profile__wrapper  {
  background: #ffffff;
  padding: 50px 44px;
  border-radius: 10px;
  position: relative;
  z-index: 20;
  margin-top: 1%;
}

.form .form__input-text {
  color: #828282;
  font-weight: normal;
}
.form .form__input-text input {
  font-size: 16px;
  font-weight: bold;
}

.form .form__wrapper {
  max-width: 800px;
}

.profile .form__content {
  display: flex;
}

.profile .form__left {
  margin-right: 100px;
  width: 355px;
}

.profile .form__buttons {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 20px;
}

.profile .form__group {
  display: flex;
  gap: 35px;
}

@media screen and (max-width: 900px) {
  .profile .form__right {
    display: none;
  }
  .profile__wrapper {
    padding: 20px;
  }
  .profile .form__left {
    width: 280px;
    margin-right: 0;
  }
  .profile .form__buttons {
    width: 240px;
  }
}